body{

    margin: 0; /*Sem margem fora do componente*/
    padding: 0; /*padding dentro do componente margem interna*/
    font-family: 'Nunito', sans-serif;
    
 
}

.fundo{

  background-repeat: no-repeat;
  background-attachment: fixed;
}


/*A div back formata todos os conteúdos de todas as páginas em umtamnho padrão*/
.back-tudo{

    float: left;
    height: 100vh;
    width: 100vw;

    
}


 /*Inicio do item menu que está em todas páginas*/
.menu{

    margin: 0; 
    padding: 0;
    height: 100px; 
    width: 100vw;
    background-color: #2d3436; 
    align-content: bottom;
    position: fixed;
    z-index: 2;


}

.logo{
     float: left;
     width:20vw;
     height: 100%;
     background: url('../img/logo.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }

.link{
    height: 100%;
    width: 30vw;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 15vw; 

}


.link a{ 
     
        width: auto;
        text-decoration: none;
        color: white;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        font-size: 25px;
        margin-left: 30px;
    
}
/*Fim do item menu que está em todas páginas*/


.linkcadastro{

    float: left;
    margin-top: 100px;

}


.linkcadastro a{
text-decoration: none;
font-size: 16px;
color: black;


    
}





.container a{

    float: left;
    justify-content: space-around;
    margin-left: 15vw; 
    


}



/*Inicio do Form de cadastro*/
.form_cad{

    height: 620px;
    width: 40%;
    float: left;
    margin-left: 420px;
    margin-bottom: 80px;
    margin-top: 80px;
    background:white;
    color: #2d3436;


}
/*Botão do Form de cadastro*/
.form_cad button{

    background-color:#2d3436;
    border: none;
    color: white;
    padding: 10px 22px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    outline: none;
}

.form_cad input{
    float: left;
    width: 60%;
    margin-left: 20%;
    border: none;
    border-bottom: 1px solid #2d3436;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    outline: none;
  
}

.form_cad input::placeholder{

    text-align: center;

}

.form_cad label{

    font-weight: bold;

}

.form_cad h2{

    font-size: 30px;
    font-weight: bold;


}

/*Fim form Cadastro*/

/*Inicio do Form Contato*/
.form_contato{

    height: 780px;
    width: 43,5%;
    float: left;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 400px;
    background:white;
    color: #2d3436;
    margin-bottom: 100px;




}

/*Botão do Form Contato*/
.form_contato button{

    background-color:#2d3436;
    border: none;
    color: white;
    padding: 10px 22px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    outline: none;

}

.btn_contato{

    float: left;
   margin-top: 70px;
   margin-left: -220px;

}
/*Fim do Botão Contato*/

.form_contato input{
    float: left;
    width: 60%;
    margin-left: 20%;
    border: none;
    border-bottom: 1px solid #2d3436;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    outline: none;
  
}

.form_contato textarea{

    float: left;
    width: 60%;
    height: 100px;
    margin-left: 20%;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    outline: none;

}

.form_contato input::placeholder{

    text-align: center;

}

.form_contato label{

    font-weight: bold;

}


.form_contato h3{

    font-size: 35px;
    font-weight: bold;


}
/*Fim do Form Contato*/


/*Inicio do Form entrar*/
.form_entrar{

    height: 700px;
    width: 43,5%;
    float: left;
    position: relative;
    margin-bottom: 80px;
    margin-top: 80px;
    top: 0;
    bottom: 50vh;
    margin-left: 400px;
    background-color:white;
    color: #2d3436;





}

/*Botão do Form entrar*/
.form_entrar button{

    background-color:#2d3436;
    border: none;
    color: white;
    padding: 10px 22px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    outline: none;

}

.btn_entrar{

    float: left;
   margin-top: 100px;
margin-left: -200px;

}
/*Fim do Botão entrar*/

.form_entrar input{
    float: left;
    width: 60%;
    margin-left: 20%;
    border: none;
    border-bottom: 1px solid #2d3436;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    outline: none;
    background: #ff000000;
  
}

.form_entrar select{

    float: left;
    width: 60%;
    margin-left: 20%;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    outline: none;

}

.form_entrar input::placeholder{

    text-align: center;

}

.form_entrar label{

    font-weight: bold;

}


.form_entrar h3{

    font-size: 35px;
    font-weight: bold;


}
/*Fim do Form entrar*/


/*Começo do texto da index(home) e imagem, sobre a evolução tecnológica*/
.texto_index{

    height:690px;
    width: 600px;
    float: left;
    margin-left: 50px;
    margin-top: 70px;
    font-size: 17px;
    text-align: justify;

}

.image_index1{

  
    float: left;
    margin-left: 720px;
    margin-top: -540px;

   
}
/*Fim do texto da index(home) e imagem*/

/*Começo do texto2 da index(home) e imagem, sobre a linha do tempo*/
.texto_index2{

    height:690px;
    width: 600px;
    float: left;
    margin-left: 50px;
    font-size: 16,5px;
    text-align: justify;

}


.image_index2{

    float: left;
    margin-left: 720px;
    margin-top: -650px;
   
}
/*A div texto2 formata todos os textos da linha do tempo*/

.image_index3{

    float: left;
    margin-left: 720px;
    margin-top: -550px;
   
}

.image_index4{

    float: left;
    margin-left: 720px;
    margin-top: -600px;

   
}

/*Aqui termina o conteúdo de texto e imagens da index (home), sobre a linha do tempo*/


/*Começo dos botões da página de interações*/
.btn1{
    background-color:whitesmoke;
    border: none;
    border-radius: 10px;
    color: #2d3436;
    padding: 11px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    outline: none;
  
   
  
  }

  .btn1{

    float: left;
    margin-bottom: 0px;
    margin-top: 200px;
    margin-left: 70px;
  
    

  }

  .btn2 {
    background-color:whitesmoke;
    border: none;
    border-radius: 10px;
    color: #2d3436;
    padding: 11px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    outline: none;
   
  
  }

  .btn2{

    float: left;
    margin-bottom: 0px;
    margin-top: 200px;
    margin-left: 70px;
  
  
    

  }

  .btn3 {
    background-color:whitesmoke;
    border: none;
    border-radius: 10px;
    color: #2d3436;
    padding: 11px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    outline: none;
  
   
  
  }

  
  .btn3{

    float: left;
    margin-bottom: 0px;
    margin-top: 200px;
    margin-left: 70px;
  
  
    

  }
/*fim dos botões da página de interações*/


/*Começo do conteudo da página de interações */
#conteudo{

    width: 100%;
    height: 420px;
    margin-top: 175px;
    background:rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.4);

    
}

#texto #title1{
    font-size: 20px;
    color: white;
}

#texto{
    width: 30vw;
    height: 20vh;
    float: left;
    color: white;
    margin-top: 2vh;
    font-size: 18px;
    margin-left: 100px;
    text-align: justify;
    font-weight: bold;
   
}

#conteudo p{


    float: left;
    font-size: 18px;
    margin-top: 2vh;
    color: white;
    font-weight: bold;
}

.carousel-cell img{

    border-radius: 4px;
    width: 400px;
    height: 300px;
    float: left;
    margin-top: 40px;
    margin-left: 60px;
    transition-delay: 1s;
}
/*Fim do conteudo da página de interações */


/*Começo do conteudo2 da página de interações */
#conteudo2{
   
    width: 80vw;
    height: 420px;
    margin-top: 250px;
    background:rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.4);
  

}

#title2{

    font-size: 20px;
    color: white;
}

#texto2{

    width: 30vw;
    height: 20vh;
    float: left;
    color: white;
    margin-top: 2vh;
    font-size: 18px;
    margin-left: 100px;
    text-align: justify;
    font-weight: bold;
   
}

#conteudo2 p{

    float: left;
    font-size: 18px;
    margin-top: 2vh;
    color: white;
    font-weight: bold;
    
}

/*Fim do conteudo da página de interações */


/*Começo do conteudo3 da página de interações */
#conteudo3{

    width: 100%;
    height: 420px;
    margin-top: 175px;
    background:rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.4);


}

.texto #title3{

 
    font-size: 20px;
    color: white;
   
}

#texto3{

    width: 30vw;
    height: 20vh;
    float: left;
    color: white;
    margin-top: 2vh;
    font-size: 18px;
    margin-left: 100px;
    text-align: justify;
    font-weight: bold;
  
   
}

#conteudo3 p{

   float: left;
    font-size: 18px;
    margin-top: 2vh;
    color: white;
    font-weight: bold;
    


}

#conteudo3 img{

    border-radius: 4px;
    width: 400px;
    height: 300px;
    float: left;
    margin-top: 40px;
    margin-left: 60px;
    transition-delay: 1s;

}
/*Fim do conteudo3 da página de interações */