
   #upload-form input{

    background-color: white;
    border: none;
    color: black;;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    padding: 5px 12px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    outline: none;
  }

#gallery{

  float: left;
  margin-left: -665px;
  margin-top: -70px;

}

.perfil{

  float: left;
  margin-left: 950px;
  margin-top: -60px;
}

.menuperfil{

  margin-top: -25px; 
  height: 100px; 
  width: 100vw;
  background-color: black; 
  align-content: bottom;
  position: fixed;
  z-index: 2;


}